* {
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    padding: 0 15px;

}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 20px auto;

    img {
        height: 60px;
    }

    .searchBox {
        height: 40px;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        input {
            height: 40px;
            width: 255px;
            border: 1px solid blue;
            border-radius: 2px;
        }

        img {
            height: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .headerRight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            border: 1px solid blue;
            border-radius: 2px;
            padding: 10px;
            background-color: rgb(58, 165, 252);
            text-decoration: none;
            color: black;

            &:hover {
                cursor: pointer;
            }

            &:active {
                color: black;
            }
        }
    }
}

h1 {
    color: rgb(58, 165, 252);
    padding: 20px;
}

.Hdan {
    max-width: 600px;
    margin-bottom: 30px;
    border: 2px solid rgb(7, 218, 0);
    border-radius: 5px;

    h3 {
        background-color: rgb(7, 218, 0);
        text-align: center;
        padding: 10px;
    }

    ul {
        margin: 10px 0;
    }
}